/*
* Menu Shop
*/


.btn-group {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.btn.on {
    background-color: #dbdbdb;
    background-image: none;
}


/*Page Shop*/
#contenu_shop{
	margin-top:2em;
}
#contenu_shop h2{
	margin-top:2em;
}
#extra .menu {
    border: 1px solid #DDDDDD;
    padding: 0.5em;
}

.commande thead tr th{
	background:#ccc;
	border:1px solid #fff;
	border-width:0 1px 0 1px;
}
.adresses{
	clear:both;
}
.adresses h3{
	background:#ccc;
}
.adresses .adresse {
    border: 1px solid #DDDDDD;
    padding: 0.5em;
	 float:left;
	 margin:10px;
}

.vente .prix{white-space:nowrap;}
.vente .ajouter_au_panier{height:50px; width:100px}

.page_facture #bloc-a h5{
	margin: 1em 0 0.3em 0;
}
.page_facture #bloc-de .adresse{
	margin-bottom: 1em ;
}

/*
* Article Shop
*/

.logo_produit{
	float:left;
	margin:0 0.5em 0.5em 0
	}

/*Panier*/

.details_produit{
	float:right;
	width:auto;
	margin: 0 0 0.5em 0.5em;}

.prix_produit {
    background: none repeat scroll 0 0 #f5f5f5;
    padding: 0.5em;
}

.ajouter_au_panier .btn {margin-top:0.8em}

#aside .bloc_panier form{font-size:0.8em;}

#aside .bloc_panier, .mon_compte{
	margin-bottom:1em}

.supprimer_panier {width:45%;float:left}

.liste_commande .row_even{
	font-weight:bold;
}
.continuer, .annuler{
	float:right;
	text-align:center
}
.annuler{
	border:1px solid #F93;
}

/* =Print Style
-------------------------------------------------------------- */

@media print {
	#contenu_shop .formulaire_spip{
		display:block;
	}
	.menu-conteneur, .liste_panier, .menu-shop, .paypal, .submit, submit, .bouton, .mon_compte, .pied, .copyleft{display:none;}
	.formulaire_spip input.text, .formulaire_spip select {border:none}
}
