<plugin>
	<nom>Prestataire de paiement PayPal pour Echoppe</nom>
	<auteur> Crowf00t</auteur>
	<version>0.1</version>
	<version_base>0.0</version_base>
	<etat>dev</etat>
	<prefix>echoppe_pp_paypal</prefix>
	<pipeline>
		<nom>echoppe_pipeline_descriptif_prestataire_paiement</nom>
		<action>descriptif</action>
		<inclure>echoppe_pp_paypal_pipeline.php</inclure>	
	</pipeline>
	<necessite id="echoppe" version="[0.3;]" />
</plugin>
